@import "tailwindcss";

/* 基础重置，确保不留死角 */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #020617; /* 统一底色 */
  color: #f1f5f9;
}

#app {
  width: 100%;
  min-height: 100vh;
  /* 删掉之前的 max-width, margin 和 padding */
}

/* 简单的滚动条美化 */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}